.fill, body, html {
    height: 100%
}

#json_vl, .td_head, .td_row_even, .td_row_odd {
    font-size: small
}

#json_pnl, #xxa, .navbar-header, .navbar-nav, .navbar-nav > li, .td_head {
    float: left
}

.fill {
    min-height: 100%
}

#json_vl {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace
}

#widget {
    width: 100%
}

.top_size {
    height: 51px
}

#all_panels {
    height: 100%;
    min-height: 100%
}

#aboutLnk {
    position: fixed;
    right: 10px;
    top: 15px
}

#inner_text {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 51px;
    margin-bottom: 0
}

#json_pnl {
    background-color: #ccc;
    width: 33.3%
}

#xxa {
    background-color: #E8E8E8;
    width: 66.7%
}

#table_pnl, #tree_pnl {
    background-color: #E8E8E8;
    float: left;
    width: 50%
}

#sharethis {
    position: fixed;
    right: 80px;
    top: 10px
}

#inner_tbl {
    padding-left: 2px
}

.td_row_even {
    padding: 2px;
    background-color: #F6F4F0
}

.td_row_odd {
    padding: 2px;
    background-color: #FFF
}

.td_head {
    padding: 2px;
    font-weight: 700;
    width: 100%;
    background-color: lightgray;
}

.td_head2 {
    padding: 2px;
    font-weight: 700;
    width: 100%;
    background-color: lightgreen;
}



input, p, select, td, textarea, th {
    font-size: 1em
}

table, td, th {
    border: 1px solid gray
}

textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 4px;
    border: 1px solid #333;
    overflow-y: auto;
    overflow-x: hidden
}

*, html {
    font-family: Verdana, Arial, Helvetica, sans-serif
}

form, h1, h2, h3, h4, h5, li, p, ul {
    margin: 0;
    padding: 0
}

img {
    border: none
}

p {
    margin: 0 0 1em
}

table {
    font-size: 100%
}

ol.tree {
    padding: 0 0 0 30px;
    width: 300px
}

/*li {*/
    /*position: relative;*/
    /*margin-left: -15px;*/
    /*list-style: none*/
/*}*/

.container {
    width: 970px;
    max-width: none !important
}

.col-xs-4 {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86, 61, 124, .2)
}

.container .navbar-collapse, .container .navbar-header {
    margin-right: 0;
    margin-left: 0
}

.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    border-top: 0
}

.navbar-toggle {
    display: none
}

.navbar-brand {
    margin-left: -15px
}

.navbar-btn {
    margin-left: 15px
}

.navbar-nav {
    margin: 0
}

.navbar-nav > li > a {
    padding: 15px
}

.navbar-nav.navbar-right {
    float: right
}

.navbar .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333
}

.navbar .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar .navbar-nav .open .dropdown-menu > li > a:focus, .navbar .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #fff !important;
    background-color: #428bca !important
}

.navbar .navbar-nav .open .dropdown-menu > .disabled > a, .navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover {
    color: #999 !important;
    background-color: transparent !important
}